.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
}

.header {
    margin-top: -50px;
    padding-bottom: 80px;
    background-image: url("/Assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.logo {
    color: #4E47FF;
    font-size: xx-large;
}

.primary-button {
    background-color: #4E47FF;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
}

.dark-container {
    text-align: center;
    margin-top: 100px;
}

.title-1 {

    font-size: 40px;
}

.btn-2 {
    padding: 10px 15px;
    text-align: center;
    background-color: #4E47FF;
    border-radius: 5px;
    color: white;
    border: none;
}

/* navbar section is done  */

.container-2{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text-2{
    font-size: 35px;
   
}
.img-2{
    border-radius: 25px ;
}

/* second section is done  */

/* third section is start  */
.container-3{
    background-color: #e8e8f8;
    margin: 0 150px ;
    border-radius: 10px ;
    padding: 10px 30px;
    padding-bottom: 30px;
}
.user{
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
    
}
.text-3{
    font-size: x-large;
    text-align: center;
}
.active-user{
    color: #4E47FF;
    font-size: 50px;
}

/* fourth section start  */
.container-4{
    text-align: center;
    margin-top: 60px;
}
.card-container{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;

}
.card-1{
    padding: 30px;
    border-radius: 5px ;
    width: 20%;
    background: #f4f2f2;
   text-align: left;
}
.text-4{
    font-size: 40px;
}
.checked {
  color: orange;
}
.img-4{
    display: flex;
    align-items: center;
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 80px ;
}
.review{
    list-style: none;
     font-size: small;
     margin-left: -25px;
}
.paragraph{
    font-size: small;
}

/* five section is start  */
.container-5{
    background-color: oklab(95.403% -0.00151 0.00499);
    margin: 0 150px ;
    padding: 20px;
    margin-top: 60px;
    text-align: center;
}
.img-5{
    margin-top: 30px;
   
}
.five{
     border-radius: 35px;
}


/* six section is start  */


/* seven section is start  */

.container-7{
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 50px;
    padding: 70px;
}
.logo-7{

}
.menu{
    margin: 0 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    

}
.footer-logo{
    color: #4E47FF;
    font-size: 50px ;
    font-weight: bolder;
}
/* seven section is done !!  */
